copy: *.ALT
copy: *.arpa
copy: *.bind-devel
copy: *.conf
copy: *.empty
copy: *.init
copy: *.key
copy: *.localdomain
copy: *.localhost
copy: *.patch
copy: *.sysconfig
copy: *.service
tar: bind
diff: v@version@:. bind-9.16:. exclude=version exclude=**/.gitignore
