spec: .gear/bind.spec
copy: alt/*.ALT
copy: alt/*.arpa
copy: alt/*.bind-devel
copy: alt/*.conf
copy: alt/*.empty
copy: alt/*.init
copy: alt/*.key
copy: alt/*.localdomain
copy: alt/*.localhost
copy: alt/patches/*.patch
copy: alt/*.sysconfig
copy: alt/*.service
copy: .gear/pyproject_deps.json
tar: v@version@:.
diff: v@version@:. . name=@name@-@version@-alt.patch exclude=.gear/** exclude=alt/**
